html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


.main-nav {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 66.4px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    /*Background color needs to be set when scroll is not 0*/
    /* background-color: #232a34; */
    color: white;
    padding-left: 1.15rem;
    padding-right: 1.15rem;

    z-index: 30;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 110px;
    
}

.main-nav-logo {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.logo-svg {
    border-radius: 7px;
}

.main-nav-logo-text {
    margin-left: 10px;
    font-family: 'Segoe UI Semibold';
    font-size: 19px;
    letter-spacing: .2px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.upper-main {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: #232a34;
    background-image: url(https://images.pexels.com/photos/9725698/pexels-photo-9725698.jpeg?auto=compress&cs=tinysrgb&fit=crop&fp-y=0.6&h=500&sharp=20&w=1400);
    background-size: cover;
    
    
    justify-content: center;
    align-items: center;
    padding: 1.15rem;
    padding-top: 66.4px;
    padding-bottom: 54px;

    max-height:500px;
    min-height:380px;    
    
    
}

.main-nav-logo-text:hover {
    color:rgb(199, 199, 199)
}

.main-nav-left {
    list-style: none;
    display: flex;
    /* border: thistle solid 3px; */
    width: 27vw;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    font-family: 'Segoe UI';
    font-size: 17px;
    font-weight: 400;
}

.explore-dropdown-container {
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
    direction: rtl;
}

.explore-dropdown {
    display: none;
    position: absolute;
    top:20%;
    width: 175px;
    padding:0;
    padding-top:.5rem;
    padding-bottom:.5rem;
    border-radius: 2px;
    
    top: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Segoe UI Semibold';
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 0px 1px rgb(214, 214, 214);  

}

.explore-dropdown li {
    list-style: none;
}

.explore-dropdown-item {
    padding-top:.5rem;
    padding-bottom:.5rem;
    color: rgb(75, 75, 75);
    padding-left: 1rem;
    padding-right: 1rem;
}

.explore-dropdown-item:hover {
    background-color: #e8e8e8;
}

.explore-dropdown li:hover {
    color: rgb(15, 15, 15);
}

.explore-dropdown-container:hover .explore-dropdown {
    display: block;
    z-index:2;
}

.dots-dropdown-container {
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
    direction: rtl;
}

.dots-dropdown {
    display: none;
    position: absolute;
    top:20%;
    width: 300px;
    padding:0;
    padding-top:.5rem;
    padding-bottom:.5rem;
    border-radius: 2px;
    top: 100%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Segoe UI Semibold';
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 0px 1px rgb(214, 214, 214);  
}

.dots-dropdown li {
    list-style: none;
}

.dots-dropdown-item {
    padding-top:.5rem;
    padding-bottom:.5rem;
    color: rgb(75, 75, 75);
    padding-left: 1rem;
    padding-right: 1rem;
}

.dots-dropdown-item:hover {
    background-color: #e8e8e8;
}

.dots-dropdown li:hover {
    color: rgb(15, 15, 15);
}

.dots-dropdown-container:hover .dots-dropdown {
    display: block;
    z-index:2;
}

.social {
    display: flex;
    flex-direction: row;
    direction: ltr;
    padding: 5px;
}

.social li {
    width: 20%;
    text-align: center;
}



/* .dots-dropdown ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

/* .dots-dropdown ul li {
    width: 100%;
    flex-grow: 1;
} */

.dots-dropdown a {
    color: #232a34;
    width: 100%;
}

.dots-dropdown #social:hover a {
    color: white; 
}

.dots-dropdown #social:hover {
    background-color:#232a34;
}

.main-nav-left li {
    height: 24px;
    cursor: pointer;
}

.dots-svg {
    /* Use fill to change color of svg */
    fill: white;
}

#join-button {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(0, 128, 111);
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI Semibold';
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

#join-button:hover {
    background-color: rgb(1, 102, 88);
}

#nav-left-li:hover {
    color:rgb(199, 199, 199)
}

.dots-svg:hover {
    fill: rgb(199, 199, 199);
}

.middle {
    display: flex;
    flex-wrap: wrap;
}

.big-banner {
    max-width: 650px;
    width: 100%;
    height: 250px;
}

.big-text {
    font-size:36px;
    font-weight:700;
    padding:0;
    margin-bottom: 18px;
    margin-top: 0;
}

.search-container {
    display: flex;
    height: 57px;
    width: 100%;
}

.big-search {
    width: 92%;
    margin:0;
    padding: 18px;
    font-family: 'Segoe UI Light';
    font-size: 17px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(236, 236, 236);
    border-color: whitesmoke;
    border: none;
}

.big-search:focus {
    outline: none;
    background-color: white;
    border-color: white;
}

.big-search:focus + .search-svg {
    background-color: white
}


.search-svg {
    display: flex;
    width: 8%;
    align-items: center;
    justify-content: center;
    fill: grey;
    background-color: rgb(236, 236, 236);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.suggestion-container {
    display: flex;
    padding: 3px;
    
}

.search-suggestions {
    display: flex;
    margin: 0;
    padding-left:0;
    font-size: 14px;
    width: 100%;
    align-items: center;
    list-style: none;
}

.suggested {
    list-style: none;
    
}

.suggested-links {
    list-style: none;
    padding:0;
    margin:0;
    font-family: 'Segoe UI Light';
}

.suggested-links li {
    float: left;
    padding-left: 4px;
    color: rgb(199, 199, 199);
}

.suggested-links li a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}

.suggested-links a:hover {
    color:white;
}

.upper-footer {
    display:block;
    height: 50px;
    width:100%;
    position: absolute;
}

.tab-nav {
    height: 61px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 1px 3px rgb(214, 214, 214);  
    
}

.tab {
    display:block;
    font-size:17px;
    line-height:26px;
    font-weight:600;
    align-items:center;
    padding:1.25rem
}

.tab-nav a {
    color: grey;
    display: flex;
    float: left; 
    padding: 20px; 
    text-decoration:none;
}

.tab-nav a:hover {
    color: rgb(77, 133, 255);
    border-bottom:rgb(77, 133, 255) solid 3px;
}

.tab-nav a:active {
    color: rgb(77, 133, 255);
    
}

.container-photos {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.photos-title-container {
    color: rgb(32, 32, 32);
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 10px;
}

.trending-container {
    font-size: 14px;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
}

.trending-container:hover .trending-dropdown {
    display: block;

    z-index:2;
}

.trending-text {
    height: 24px;
    float: left;
}

.trending-svg {
    fill: rgb(32, 32, 32);
    width: 25px;
    float: right;
}

.trending-dropdown-container {
    text-align: left;
    direction: rtl;
}

.trending-dropdown {
    display: none;
    position: absolute;
    top:20%;
    width: 175px;
    padding:0;
    padding-top:.5rem;
    padding-bottom:.5rem;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Segoe UI Semibold';
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 0px 1px rgb(214, 214, 214);  
    direction: rtl;
    
}



.trending-dropdown li {
    list-style: none;
    color: rgb(77, 77, 77);
    /* width:100%; */
    background-color: rgb(255, 255, 255);
    padding:9px 30px;
}

.trending-dropdown li:hover {
    background-color: #e8e8e8;
    color: rgb(15, 15, 15);
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photo-column {
    /* width: 434.5px; */
    border: green solid 3px;
    color: black;
}

.photo {
    border: blue solid 2px;
    width: 434.5px;
    height: 400px;
    margin-bottom: 15px;
}